<!DOCTYPE html>
<html>
<head>
	<title>Submitted Info</title>
    <link rel="stylesheet" href="{% static 'survey_form_app/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div class="container">
        <span class="title">Submitted Info</span>
        <label>Name: </label> <p>{{request.session.name}}</p>
        <label>Dojo Location: </label><p>{{request.session.city]}}</p>
        <label>Favorite Language: </label> <p>{{request.session.language}}</p>
        <label>comment: </label> <p>{{request.session.comment}}</p>
    </div>
</body>
</html>